<!-- Home Page -->
<!-- Home Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

      </style>
    
    <title>Movie Website</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
    <link rel="stylesheet" href="../style/style.css">
    
    <!-- icons for social app click -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">   



    <!-- Awesome Font CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Navbar  -->   
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-ticket"></i></a> <!-- Movie Ticket Icon-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/theaters">Theaters</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/movies">Movies</a>
            </li>

          </ul>

        </div>
      </div>
      
      


  </nav>

  <h1 style="text-align: center;">Movie Ticket Checkout</h1>

  <form method="post" style="display: flex; justify-content: center;">
      {% csrf_token %}
  
      <p style="margin-top: 40px;">Number of kids tickets:
          <button type="button" onclick="decrement('num_kids')">-</button>
          <input type="number" name="num_kids" id="num_kids" min="0" value="0">
          <button type="button" onclick="increment('num_kids')">+</button>
      </p>

      <p style="margin-top: 100px;">Number of adults tickets:
          <button type="button" onclick="decrement('num_adults')">-</button>
          <input type="number" name="num_adults" id="num_adults" min="0" value="0">
          <button type="button" onclick="increment('num_adults')">+</button>
      </p>
      <p style="margin-top: 40px;">Number of seniors tickets:
          <button type="button" onclick="decrement('num_seniors')">-</button>
          <input type="number" name="num_seniors" id="num_seniors" min="0" value="0">
          <button type="button" onclick="increment('num_seniors')">+</button>
      </p>
  
      <p style="text-align: center; margin-top: 200px;"><input type="submit" value="Buy Tickets" style="margin: 0 auto;"></p>
  </form>
  
  <div class="container wow fadeIn">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Adults</h6>
            </div>
            <span class="text-muted">$10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Seniors</h6>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Kids</h6>

            </div>
            <span class="text-muted">$5</span>
          </li>

        </ul>
        <!-- Cart -->


      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>

  <script>
  function increment(field_id) {
      var field = document.getElementById(field_id);
      field.value = parseInt(field.value) + 1;
  }
  
  function decrement(field_id) {
      var field = document.getElementById(field_id);
      if (field.value > 0) {
          field.value = parseInt(field.value) - 1;
      }
  }
  </script>



	<!-- Ending closer:  -->
  
    <!-- footer class -->
    
    <div class="footer-basic">
      

    <p class="text-center text-white"><i class="fa fa-location-arrow"></i>  5500 Campanile Dr, San Diego, CA 92182 </p>
    <p class="text-center text-white"><i class="fa fa-phone"></i>  +91-99999999  </p>
    <p class="text-center text-white"><i class="fa fa fa-envelope"></i> sdsu@edu.com  </p>
      <h3 class ="container text-white text-center" >Follow us</h3>
              <footer class = py-1>
                    <div class="container text-center">	<!-- in the center -->
                    <div class="social"><a href="#">
                      <a href="https://www.instagram.com/">			<!-- link to social app website-->
                      <i class="icon ion-social-instagram"></i></a><a href="#">
                      <a href="https://www.snapchat.com/">
                      <i class="icon ion-social-snapchat"></i></a><a href="#">
                      <a href="https://www.twitter.com/">                          
                      <i class="fa-brands fa-twitter"></i>
                      <a href="https://www.facebook.com/">
                      <i class="fa-brands fa-facebook"></i>


                      <ul class="list-inline">
                        <li class="list-inline-item"><a href="/">Home</a></li>
                        <li class="list-inline-item"><a href="/theaters">Theaters</a></li>
                        <li class="list-inline-item"><a href="/movies">Movies</a></li>
                    </ul>

    
              <p style="color:rgb(165, 165, 231)" class="copyright">SDSU © 2022</p>
          </footer>
  </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  
  





<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>   


<script>
$(document).ready(function() {
  const minus = $('.quantity__minus');
  const plus = $('.quantity__plus');
  const input = $('.quantity__input');
  minus.click(function(e) {
    e.preventDefault();
    var value = input.val();
    if (value > 1) {
      value--;
    }
    input.val(value);
  });
  
  plus.click(function(e) {
    e.preventDefault();
    var value = input.val();
    value++;
    input.val(value);
  })
});
</script>

<script>
  $(document).ready(function() {
    const minus = $('.quantity__minus1');
    const plus = $('.quantity__plus1');
    const input = $('.quantity__input1');
    minus.click(function(e) {
      e.preventDefault();
      var value = input.val();
      if (value > 1) {
        value--;
      }
      input.val(value);
    });
    
    plus.click(function(e) {
      e.preventDefault();
      var value = input.val();
      value++;
      input.val(value);
    })
  });
  </script>

<script>
  $(document).ready(function() {
    const minus = $('.quantity__minus2');
    const plus = $('.quantity__plus2');
    const input = $('.quantity__input2');
    minus.click(function(e) {
      e.preventDefault();
      var value = input.val();
      if (value > 1) {
        value--;
      }
      input.val(value);
    });
    
    plus.click(function(e) {
      e.preventDefault();
      var value = input.val();
      value++;
      input.val(value);
    })
  });
  </script>

</body>

</html>

